<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vindra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0a267e6f70.js" crossorigin="anonymous"></script>
  </head>
  <body style="max-height: 100vh; background: rgb(127, 233, 241);">

    <section style="background: blue; width: 100%; border-radius: 0 0 20px 20px;">
        <div class="container">
            <div class="d-flex pt-2">
                <img src="../../asset/img/wa.png" width="70" alt="">
                <span class="text-white my-auto" style="font-size: 13px;">Vindra Arya Yulian <br> 083112345678</span>
                <span class="text-center text-white my-auto ms-auto pe-3" style="font-size: 13px;">13.45 <br> Kamis,15 Feb 23</span>
            </div>

            <div class="mt-2 pb-3">
                <div class="card mx-auto" style="border-radius: 20px; width: 90%;">
                    <div class="card-body d-flex">
                        <p class="fw-bold my-auto">Your Balance</p>
                        <p class="fw-bold my-auto ms-auto">Rp. 800.000 <a href="#"><i class="fa-solid fa-square-plus text-dark"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-2">
        <div class="row justify-content-center col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 mx-auto pt-5 pb-5 gap-3" style="background: rgb(87, 159, 232); width: 90%; border-radius: 20px;">
            <div class="row justify-content-center col-12 col-xl-4">
                <a href="../../view/topup/index.html" class="btn btn-light mx-auto d-flex" style="border-radius: 20px; width: 90%;">
                    <p class="my-auto me-3 fs-1"><i class="fa-brands fa-spotify"></i></p>
                    <p class="fw-bold my-auto fs-5 d-block">Spotify <span class="d-block text-start" style="font-size: 13px;">1 Week</span></p>
                    <p class="fw-bold my-auto ms-auto">Rp. 15.000</p>
                </a>
            </div>
            <div class="row justify-content-center col-12 col-xl-4">
                <a href="../../view/topup/index.html" class="btn btn-light mx-auto d-flex" style="border-radius: 20px; width: 90%;">
                    <p class="my-auto me-3 fs-1"><i class="fa-brands fa-spotify"></i></p>
                    <p class="fw-bold my-auto fs-5 d-block">Spotify <span class="d-block text-start" style="font-size: 13px;">1 Mount</span></p>
                    <p class="fw-bold my-auto ms-auto">Rp. 42.000</p>
                </a>
            </div>
            <div class="row justify-content-center col-12 col-xl-4">
                <a href="../../view/topup/index.html" class="btn btn-light mx-auto d-flex" style="border-radius: 20px; width: 90%;">
                    <p class="my-auto me-3 fs-1"><i class="fa-brands fa-youtube"></i></i></p>
                    <p class="fw-bold my-auto fs-5 d-block">Youtube <span class="d-block text-start" style="font-size: 13px;">1 Week</span></p>
                    <p class="fw-bold my-auto ms-auto">Rp. 18.000</p>
                </a>
            </div>
            <div class="row justify-content-center col-12 col-xl-4">
                <a href="../../view/topup/index.html" class="btn btn-light mx-auto d-flex" style="border-radius: 20px; width: 90%;">
                    <p class="my-auto me-3 fs-1"><i class="fa-brands fa-youtube"></i></i></p>
                    <p class="fw-bold my-auto fs-5 d-block">Youtube <span class="d-block text-start" style="font-size: 13px;">1 Mount</span></p>
                    <p class="fw-bold my-auto ms-auto">Rp. 45.000</p>
                </a>
            </div>
            <div class="row justify-content-center col-12 col-xl-4">
                <a href="../../view/topup/index.html" class="btn btn-light mx-auto d-flex" style="border-radius: 20px; width: 90%;">
                    <p class="my-auto me-3 fs-1"><i class="fa-solid fa-language"></i></i></p>
                    <p class="fw-bold my-auto fs-5 d-block">Netflix <span class="d-block text-start" style="font-size: 13px;">1 Mount</span></p>
                    <p class="fw-bold my-auto ms-auto">Rp. 40.000</p>
                </a>
            </div>
        </div>
    </section>

    <footer class="bg-light mt-3" style="border-radius: 20px 20px 0 0; height: 80px;">
        <div class="container">
            <div class="row justify-content-center col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="row justify-content-center col-3 col-xl-3 pt-3">
                    <a href="" class="fs-1"><i class="fa-solid fa-house text-secondary"></i></a>
                </div>
                <div class="row justify-content-center col-3 col-xl-3 pt-3">
                    <a href="" class="fs-1"><i class="fa-solid fa-house text-secondary"></i></a>
                </div>
                <div class="row justify-content-center col-3 col-xl-3 pt-3">
                    <a href="" class="fs-1"><i class="fa-solid fa-house text-secondary"></i></a>
                </div>
                <div class="row justify-content-center col-3 col-xl-3 pt-3">
                    <a href="" class="fs-1"><i class="fa-solid fa-house text-secondary"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>